 

* {
    color: #72aee6 !important;
}

body {
    background-color: #383c44 !important;
}

.bg-dark {
    background-color:rgb(45, 49, 53) !important;
}

.carousel img {
    margin: auto;
    max-height: 500px;
}

.carousel {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, minmax(fit-content, 15vw));
    grid-template-rows: repeat(2, minmax(fit-content, 15vh));
    gap: 10px;
    width: calc(90vw + 50px) !important;
    justify-content: center;
}

#work {
    grid-row: span 2;
    grid-column: span 3;
    width: 100% !important;
    height: 100% !important;
    background-color:rgb(45, 49, 53) !important;
}

.card {
    width: 100% !important;
    height: 100% !important;
    background-color:rgb(45, 49, 53) !important;
    box-sizing: border-box;
}

.torus-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#torus {
    max-width: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    background-color:rgb(45, 49, 53) !important;
}

#torus-text {
    font-family: monospace;
    color: white !important;
    white-space: pre;
}

.btn {
    background-color: #383c44 !important;
}

.dhops-container {
    display: flex;
    justify-content: space-between;
}

footer {
    /* align-content: flex-end; */
    font-size: 40px;
}

@media (max-width: 1800px) {
    #dhops {
        display: none;
    }

    footer {
        margin: 0 auto;
    }

    .container {
        grid-template-columns: repeat(3, minmax(fit-content, 25vw));
        grid-template-rows: repeat(3, minmax(fit-content, 20vh));
        width: calc(45vw + 20px) !important;
    }

    #work {
        grid-row: span 1;
        grid-column: span 3;
        width: 100% !important;
        height: 100% !important;
    }
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, minmax(fit-content, 25vw));
        grid-template-rows: repeat(4, minmax(fit-content, 20vh));
        width: calc(45vw + 20px) !important;
    }

    #work {
        grid-row: span 1;
        grid-column: span 2;
    }
}